@using Microsoft.JSInterop
@inject IJSRuntime _js

<div class="adj-slider-handle @CssAddon"></div>


@code {
    
    private Position pos = new();
    AdjRangeSliderJsInterop? _interop;
    DotNetObjectReference<AdjSliderHandle>? _objRef;

    [Parameter] public string CssAddon { get; set; } = "adj-start";

    [Parameter] public string ParentSelector { get; set; } = "body";

    [Parameter] public int PosLeft { get; set; } = 0;
    
    [Parameter] public int PosTop { get; set; } = 0;

    protected override void OnInitialized()
    {

     }

    public struct Position
    {
        public string CssAddon;
        public int Left;
        public int Top;
        public int MaxX;
        public int MaxY;
    }
    [Parameter]
    public EventCallback<Position> OnMouseMove { get; set; }
    [Parameter]
    public EventCallback<Position> OnMouseUp { get; set; }



}